<h1>Angular Examples</h1>

<data-display></data-display>

<property-binding></property-binding>

<event-binding></event-binding>

<two-way-binding></two-way-binding>

<input-binding [displayText]="testText"></input-binding>

<h2>{{testEventText}}</h2>

<output-binding (test)="handleTestEvent($event)"></output-binding>

<structural-directives></structural-directives>

<default-change-detection></default-change-detection>

<push-change-detection></push-change-detection>

<fetch-example></fetch-example>

<taco-pipe-demo></taco-pipe-demo>